.Header {
    width: 100%;
    height: 50px;
    background-color: firebrick;

    display: flex;

    .logo {
        width: 50px;
        height: 100%;
        background-color: aqua;
        }
        
    .settings {
        background-color: blue;
        margin-left: auto;
    }
        
    .profile {
        background-color: blueviolet;
    }
}

.Body {
    display: flex;

    width: 100%;
    height: 100%;
    background-color: bisque;

    .ListsPanelRoot {
        width: 20%;
        height: 100%;

        padding: 20px 10px 10px 10px;
        background-color: aqua;
    }

    .mainPanel {
        padding: 20px 10px 10px 10px;
    }
}

